/*flexbot layout setup*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Work+Sans:wght@300&display=swap');

.wrapper {
    display:flex;
    flex-flow:row wrap;
    text-align:center;
}

.wrapper>* {
    padding:10px;
    margin:10px;
    flex: 1 100%;
    border-radius: 10px;
}

.header {
    background:url(../images/header-image.webp)no-repeat center center;
    height: 300px;
}

#logo {
    margin-top:110px;
    color:gold;
    font-size: 50px;
    filter: drop-shadow(0 2px 4px #000);
    text-transform: uppercase;
}

.footer {
    background: white;
    height: 80px;
}

.main {
    text-align: center;
    background-image: url('../images/main-image.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
    font-size: 24px;
    height: 600px;
}

.nav {
    background: gold;
    font-size:150%;
    font-family: 'Noto Sans', sans-serif;
    text-transform: uppercase;
   
}

/* nav links */

.nav li {
    text-align: center;
    display: inline;
    margin-left:40px;
    margin-right:40px;
    list-style-type: none;

}

.nav a {
    text-decoration: none;
    color:black;
    filter: drop-shadow(0 2px 4px white);
}

.nav a:hover {
    color:white;
    filter:drop-shadow(0 2px 4px black);
}

#active {
    color:white;
    filter:drop-shadow(0 2px 4px black);
}

.aside2 {
    background-image: url(../images/library-image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    height:300px;
    width: 100%;
}

.aside2 div {
    color:white;
    background-color: rgb(0, 0, 0, 0.6);
    width:31%;
    height:300px;
    float:left;
    margin-left:30px;
    border: 2px white solid;
    box-sizing: border-box;
}

.aside2 div h4 {
    font-family: 'Work Sans', sans-serif;
    font-size: 150%;

}

.aside2 div h3 {
    font-family: 'Noto Sans', sans-serif;
    text-transform: uppercase;
    font-size: 200%;

}

/*fonts*/

body h1 {
    font-family: 'Noto Sans', sans-serif;
}

/*media querie*/

@media all and (min-width: 800px) {
    .main {
        flex:3;
    }

    .aside2 {
        order:3;
    }

    .main {
        order:3;
    }

    .footer {
        order:4;
    }
}

@media all and (mind-width:600px){
    .main {
        flex:3;
    }

    .aside2 {
        order:2;
    }

    .main {
        order:4;
    }

    .footer {
        order:4;
    }
}


/* main cover text */

#cover-text, #cover-text h2 {
    color:white;
    
}

#cover-text h2 {
    text-transform: uppercase;
}

#cover-text {
    font-family: 'Noto Sans', sans-serif;
   

    width: 100%;
    min-height: 545px;
    background-color: rgb(205,133,63, 0.7);
    padding-top: 30px;
    margin-top:15px;
    border-radius: 10px;
}

#cover-text p {
    font-family: 'Work Sans', sans-serif;
    font-size:110%;
}

/*footer icons*/

.footer li {
    display: inline;
    list-style-type: none;
    margin-left:40px;
    margin-right: 40px;
}

.footer a {
    color:black;
    font-size: 200%;
}

footer {
    height: 150px;
}

#gallery {
    line-height: 0;
    column-count: 2;
}

#gallery>img {
    width: 100%;
}


/* form styling */

#form-section {
    clear: left;
    background: url('../images/signup-form-background.jpg');
    min-height: 900px;
    background-size: cover;
    background-position: center;
}

#form-signup {
   max-width: 400px;
   position: absolute;
   margin-top: 10%;
   margin-left: 40%;
   text-align: left;
   background-color: rgb(255, 255, 255, 0.7);
   padding: 30px;
}

#form-signup h2 {
    font-family: 'Noto Sans', sans-serif;
    text-transform: uppercase;
}

#form-signup label {
    font-family: 'Work Sans', sans-serif;
}

#join-button {
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    font-weight: bold;
}