/*flexbot layout setup*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Work+Sans:wght@300&display=swap');

.wrapper {
    display:flex;
    flex-flow:row wrap;
    text-align:center;
}

.wrapper>* {
    padding:10px;
    margin:10px;
    flex: 1 100%;
    border-radius: 10px;
}

.header {
    background:url(../images/header-image.webp)no-repeat center center;
    height: 300px;
}

#logo {
    margin-top:110px;
    color:gold;
    font-size: 50px;
    filter: drop-shadow(0 2px 4px #000);
    text-transform: uppercase;
}

.footer {
    background: gold;
    height: 80px;
}

.main {
    text-align: center;
    background: aqua;
    font-size: 24px;
    height: 300px;
}

.nav {
    background: hotpink;
    font-size:200%;
    font-family: 'Noto Sans', sans-serif;
    text-transform: uppercase;
}

/* nav links */

.nav li {
    text-align: center;
    display: inline;
    margin-left:40px;
    list-style-type: none;

}

.aside2 {
    background: violet;
}

/*fonts*/

body h1 {
    font-family: 'Noto Sans', sans-serif;
}

/*media querie*/

@media all and (min-width: 800px) {
    .main {
        flex:3;
    }

    .nav {
        order:1;}

    .aside2 {
        order:3;
    }

    .main {
        order:2;
    }

    .footer {
        order:4;
    }
}

@media all and (mind-width:600px){
    .main {
        flex:1;
    }
}

/*background image*/
